n8n-fluxos/0. roteiro cientifico.json
{
  "name": "0. roteiro cientifico",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1232,
        48
      ],
      "id": "96f0dd52-c972-43c6-95e2-d32da926669f",
      "name": "cron trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=você é responsável por desenvolver o gancho {{ $json.hook }} criando um roteiro final envolvente e respeitando a faixa de caracteres tolerados\n\nvocê deve começar o roteiro usando o exatamente o gancho : {{ $json.hook }}\nvocê deve encerrar o roteiro usando exatamente o cta :  \"Quer mais curiosidades malucas como essa? Se inscreva no canal!\"\n\nnumero minimo de caracteres : 300\nnumero maximo de caracteres : 400\n\nFORMATO DE SAÍDA (JSON PURO)\n\n{\n\"roteiro_final\": \"\",\n\"tema\": \"{{$json.topic}}\",\n\"gancho\": \"{{$json.hook}}\",\n\"char_used\": \"numero de caracteres incluindo pontos, espaços, virgulas e cta\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -736,
        48
      ],
      "id": "89128005-1374-4172-865a-d86f3ff0e6dd",
      "name": "roteiro1",
      "credentials": {
        "openAiApi": {
          "id": "Af9194zWnYZWTFkI",
          "name": "leo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      roteiro: item.json.output[0].content[0].text.roteiro_final,\n      tema:item.json.output[0].content[0].text.tema,\n      gancho: item.json.output[0].content[0].text.gancho,\n       char_used: item.json.output[0].content[0].text.char_used\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        48
      ],
      "id": "fde24a2a-e903-4b44-b04d-75de8ac4eac7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dark_conteudo",
        "filters": {
          "conditions": [
            {
              "keyName": "nicho",
              "keyValue": "curiosidades-cientificas-e-psicologicas"
            },
            {
              "keyName": "status",
              "keyValue": "ideia"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1072,
        48
      ],
      "id": "d4ca95ee-f609-489a-a847-fcfe2320b151",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "PBznPfY5NNTiwzfT",
          "name": "supabase leo dark"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -896,
        48
      ],
      "id": "c855d476-aaf4-45ac-a41c-4622309ae30b",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dark_conteudo",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Limit').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "script",
              "fieldValue": "={{ $json.roteiro }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending_tts"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        48
      ],
      "id": "c405bce6-bfb6-4543-9336-9442bd8dd9d9",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "PBznPfY5NNTiwzfT",
          "name": "supabase leo dark"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "cron trigger": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "roteiro1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "roteiro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "387e7b6e-1616-4538-b04f-3d3bc8f5d148",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87b81983362bc329b59aad74983599e619ad99e7ae86b5c4358daa7151dce338"
  },
  "id": "ZR_WL008KfNBylOvSZlKv",
  "tags": []
}