n8n-fluxos/6. publicar to metrics.json
{
  "name": "6. publicar to metrics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -112
      ],
      "id": "c84b39b0-a56b-48e8-a3bb-1579b155622a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "publicar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "publicado",
              "lookupValue": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        -112
      ],
      "id": "62d92fee-def1-4874-8aa5-dd0a4713b1a9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3UUKvkD5Pe0qB8di",
          "name": "symbiotic-sheets"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "publicar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "processado"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nicho",
              "displayName": "nicho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video url",
              "displayName": "video url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seo_titulo",
              "displayName": "seo_titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seo_description",
              "displayName": "seo_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seo_tags",
              "displayName": "seo_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "publicado",
              "displayName": "publicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        -128
      ],
      "id": "d17886e3-947e-4f6c-98bd-0aa4fd265436",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "Y8AfremVEQbtvAyf",
          "name": "leo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51a5aac6-e9d3-4dcd-84f7-aa4d57c45c54",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        -112
      ],
      "id": "7cf73828-b088-4d7f-b81b-492681d36043",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        304,
        112
      ],
      "id": "9a23c6ae-8d42-49d5-93c4-429aa765159c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If').item.json.nicho }}",
                    "rightValue": "curiosidades-cientificas-e-psicologicas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9f41f1ba-b526-4e6c-a1bd-928671131cf4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "curiosidades-cientificas-e-psicologicas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4424c42-92c1-4fe0-9eec-7caca71abaf7",
                    "leftValue": "={{ $('If').item.json.nicho }}",
                    "rightValue": "biblico",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "biblico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2feb0f3-0b58-43e1-8231-90fe68ab321b",
                    "leftValue": "={{ $('If').item.json.nicho }}",
                    "rightValue": "terror",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "terror"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ab75ba18-6a36-4c4d-8258-3ee9a140e49d",
                    "leftValue": "={{ $('If').item.json.nicho }}",
                    "rightValue": "jazz-with-jezz",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jazz-with-jezz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        688,
        -144
      ],
      "id": "1e76776d-8b90-453f-848a-b130e0aaa451",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1016787741,
          "mode": "list",
          "cachedResultName": "darkside",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit#gid=1016787741"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "seo_titulo": "={{ $('If').item.json.seo_titulo }}",
            "nicho": "curiosidades-cientificas-e-psicologicas"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seo_titulo",
              "displayName": "seo_titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube id",
              "displayName": "youtube id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data/hora publi",
              "displayName": "data/hora publi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "views",
              "displayName": "views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engaged Views",
              "displayName": "engaged Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated Minutes Watched",
              "displayName": "estimated Minutes Watched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "average View Duration",
              "displayName": "average View Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "average View Percentage",
              "displayName": "average View Percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subscribers Gained",
              "displayName": "subscribers Gained",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nicho",
              "displayName": "nicho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -384
      ],
      "id": "9586d205-33e9-4bf9-ac97-f0cc7dcb76ce",
      "name": "darkside",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3UUKvkD5Pe0qB8di",
          "name": "symbiotic-sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 498135605,
          "mode": "list",
          "cachedResultName": "sob o nome dele",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit#gid=498135605"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "seo_titulo": "={{ $('If').item.json.seo_titulo }}",
            "nicho": "biblico"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seo_titulo",
              "displayName": "seo_titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube id",
              "displayName": "youtube id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data/hora publi",
              "displayName": "data/hora publi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "views",
              "displayName": "views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engaged Views",
              "displayName": "engaged Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated Minutes Watched",
              "displayName": "estimated Minutes Watched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "average View Duration",
              "displayName": "average View Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "average View Percentage",
              "displayName": "average View Percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subscribers Gained",
              "displayName": "subscribers Gained",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nicho",
              "displayName": "nicho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -208
      ],
      "id": "832a7ccc-6c3f-4186-a08b-3c9c76829fb6",
      "name": "biblico",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3UUKvkD5Pe0qB8di",
          "name": "symbiotic-sheets"
        }
      }
    },
    {
      "parameters": {
        "tableId": "metrics",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tema",
              "fieldValue": "={{ $json.topic }}"
            },
            {
              "fieldId": "titulo",
              "fieldValue": "={{ $json.seo_title }}"
            },
            {
              "fieldId": "id_conteudo",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        -128
      ],
      "id": "37b4770b-fe7f-46f3-9354-a6ae6522ee2c",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "PBznPfY5NNTiwzfT",
          "name": "supabase leo dark"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dark_conteudo",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        -128
      ],
      "id": "8954d4fb-bce5-485e-b9a4-27dd7e0f8b19",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "PBznPfY5NNTiwzfT",
          "name": "supabase leo dark"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1651310146,
          "mode": "list",
          "cachedResultName": "terror",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit#gid=1651310146"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "seo_titulo": "={{ $('If').item.json.seo_titulo }}",
            "terror": "terror"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seo_titulo",
              "displayName": "seo_titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube id",
              "displayName": "youtube id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data/hora publi",
              "displayName": "data/hora publi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "views",
              "displayName": "views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engaged Views",
              "displayName": "engaged Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated Minutes Watched",
              "displayName": "estimated Minutes Watched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "average View Duration",
              "displayName": "average View Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "average View Percentage",
              "displayName": "average View Percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subscribers Gained",
              "displayName": "subscribers Gained",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "terror",
              "displayName": "terror",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -48
      ],
      "id": "a7b5528d-727e-470e-bb61-09e95dde7d4c",
      "name": "terror",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3UUKvkD5Pe0qB8di",
          "name": "symbiotic-sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "dark_conteudo",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get a row').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1616,
        -128
      ],
      "id": "615da3c6-f995-4c3f-83f6-c75f8751d1ed",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "PBznPfY5NNTiwzfT",
          "name": "supabase leo dark"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1623037527,
          "mode": "list",
          "cachedResultName": "jazz-with-jezz",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KIpFBaTuBJpcwx1StTwTRK_BuhFx_OXQcAQ0bQDFtWU/edit#gid=1623037527"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "seo_titulo": "={{ $('If').item.json.seo_titulo }}",
            "nicho": "jazz-with-jezz"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seo_titulo",
              "displayName": "seo_titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube id",
              "displayName": "youtube id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data/hora publi",
              "displayName": "data/hora publi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "views",
              "displayName": "views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "engaged Views",
              "displayName": "engaged Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated Minutes Watched",
              "displayName": "estimated Minutes Watched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "average View Duration",
              "displayName": "average View Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "average View Percentage",
              "displayName": "average View Percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subscribers Gained",
              "displayName": "subscribers Gained",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nicho",
              "displayName": "nicho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        112
      ],
      "id": "ad5abce1-c207-40f8-8540-aff672cf5c23",
      "name": "jazz with j",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3UUKvkD5Pe0qB8di",
          "name": "symbiotic-sheets"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-09T13:00:30.002-03:00",
          "Readable date": "March 9th 2026, 1:00:30 pm",
          "Readable time": "1:00:30 pm",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "09",
          "Hour": "13",
          "Minute": "00",
          "Second": "30",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "darkside",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "biblico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "terror",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "jazz with j",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "darkside": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "biblico": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "terror": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "jazz with j": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c20823c4-8a07-453d-9abe-8bb5a5f1b4e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87b81983362bc329b59aad74983599e619ad99e7ae86b5c4358daa7151dce338"
  },
  "id": "k65aGBIrsWx6ugMD",
  "tags": []
}